<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">

</head>
    <body>
        <main>
            <form id="myForm" method="POST" action="/invitation-request">
                
                <select id="greeting" name="greeting">
                    <option value="Hello" name="greeting">Hello</option>
                    <option value="Dear" name="greeting">Dear</option>
                    <option value="Yo" name="greeting">Yo</option>
                </select>
                <br>
                
             
                <textarea id="w3mission" rows="4" cols="50" name="text">
                    "write your message here"
                </textarea>
    
                <br>
    
           
                <label for="x"> Christmas </label>
                <input type="radio" name="event" value="christmas">
                <br>
                <label for="x"> Easter </label>
                <input type="radio" name="event" value="easter">
                <br>
                <label for="x"> Hannuka</label>
                <input type="radio" name="event" value="Hanuka">
                <br>
            
            
                <input type="submit">
                
            </form>
    
            <div class="invite">
                
                <div id="msg-box">
                    <p id="msg">  </p>
                </div>      
    
                <img id="event-img" src="">
    
            </div>
    
        </main>
    
    </body>
    
    </html>
    



</body>
</html>