<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

</head>
<body>
    <div>

        <h1>Invite loading ...</h1>

    </div>
    
<script>
//     $.ajax({ url: 'https://localhost:4001'
//      , type: 'GET'
//      , dataType: 'html'
//     })
// .done(function(data) {
//   $('div').html(data);
// })
// .fail(function() {
//   console.log("Something went wrong!");
// });
</script>

</body>
</html>